body{
 	 margin: 0;
 	 overflow: hidden;
 	 background-color: #eae7dc;
}
.sM{
	margin-top: -20px;
}
.menu{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:#ffffff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 50px;
	/*#ee6e73*/
}
.menu a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 24px;
	font-family: 'inconsolata',monospace;
	color: #ee6e73;
	display: block;
	letter-spacing: 5px;
	margin-bottom: 20px;
	transition: 0.3s;
}
.sidemenu .close{
	position: absolute;
	top: 0;
	right: 50px;
	font-size: 20px;
	margin-left: 100px;
}
.sM a:after{
	z-index: -1;
	position: absolute;
	left: 0%;
	width: 20;
	height: 50px;
	background: #e85e4f;
	content: '';
	transition: width 0.35s ease-in-out;
}
.sM a:hover:after{
	width: 10%;
}
.sM a:hover{
	padding-left:70px;
	transition: 0.35s ease-in-out;
}
#content{
	transition: margin-left 0.5s;
	padding: 20px;
}
h1{
	font-family:'inconsolata';
	font-size: 2em;
	text-align: left;
	margin-left: 100px;
	margin-top: -10px;
	letter-spacing: 2px;
	padding: 40px 0px 0px 0px;
	color: #ffffff;
}
.logo{
	margin-left: 1300px;
	margin-top: -70px;
}
.school{
	margin-left: 590px;
	margin-top: -130px;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial;
	color: #ffffff;
}
.location{
	margin-left: 900px;
	margin-top: -50px;
	font-weight: bold;
	font-size: 9px;
	font-family: Arial;
	color:#ffffff;
}
.header{
	padding:-50px;
	background:#ee6e73;
}
.myuic{
	margin-left: 255px;
	margin-top: 25px;
}
h2{
	margin-left: 70px;
	margin-top: -40px;
	font-size: 2em;
	color:#2F323A;
}
table{
	border-spacing: 20px;
	border:0px solid #F3E9D2;
	padding: 50px;
	margin-left: 65px;
	background-color: white;
	box-shadow: 10px 10px #BCC1BA;
}
